.anistore-brand-icon {
    padding-left: 12px;
}

.navbar-options {
    margin: 0;
    padding: 10px 10px 10px 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

.search-input {
    width: 350px !important;
}